# Chicago Crime Analysis with PySpark

#### Goals


Some goals for this project:
- Do some simple EDA on *Chicago Crime* from [Kaggle](https://www.kaggle.com/)

All this will be done using **[PySpark](https://spark.apache.org/docs/latest/api/python/)**

<hr>

#### Import Libraries

In [40]:
try:
    from pyspark.sql import SparkSession
    from pyspark import SparkContext
    from pyspark.sql import SQLContext
    from pyspark.sql import DataFrame
    import pyspark.sql.types as tp
    import pyspark.sql.functions as F
    import pandas as pd
    import numpy as np
    import glob
    from functools import reduce
    from urllib.request import urlopen
    
    print('[SUCCESS]')
except ImportError as ie:
    raise ImportError(f'[Error importing]: {ie}')

[SUCCESS]

**INITIALIZE SESSION**

In [2]:
sc = SparkContext('local')
spark = SparkSession(sc)

<hr>

#### Read in our DATA

In [37]:
'''
URL THAT WE ARE USING TO READ IN OUR JSON DATA
'''
URL = 'https://data.cityofchicago.org/resource/x2n5-8w5q.json'

In [36]:
def read_json_api(URL):
    json_data = urlopen(URL).read().decode('utf-8')
    
    rdd = spark.sparkContext.parallelize([json_data])
    
    df = spark.read.json(rdd)
    
    
    return df

In [38]:
df = read_json_api(URL)
df.show(5)

+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+-----+---------------------+--------------------+----------------------+------+----+--------------------+--------+--------------------+--------+------+------------+--------------------+-------------+----+------------+------------+
|:@computed_region_43wa_7qmu|:@computed_region_6mkv_f3dw|:@computed_region_awaf_s7ux|:@computed_region_bdys_3d7i|:@computed_region_rpca_8um6|:@computed_region_vrxf_vc4k|_iucr|_location_description|_primary_decsription|_secondary_description|arrest|beat|               block|   case_|  date_of_occurrence|domestic|fbi_cd|    latitude|            location|    longitude|ward|x_coordinate|y_coordinate|
+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+-----+---------------------+--------------------+----------------------+------+----+--------------------+--------+--------------------+--------+------+------------+--------------------+-------------+----+------------+------------+
|                          7|                      22615|                         52|                        597|                          2|                         26| 1320|               STREET|     CRIMINAL DAMAGE|            TO VEHICLE|     N|2513|016XX N MC VICKER...|JE174959|2021-03-21T05:04:...|       N|    14|41.909865701|{{"address": "", ...|-87.776456145|  29|     1135830|     1910237|
|                          9|                      14924|                         12|                        224|                         37|                          3| 0420|            CTA TRAIN|             BATTERY|  AGGRAVATED - KNIF...|     N| 925|     002XX W 47TH ST|JE174965|2021-03-21T05:30:...|       N|   04B|41.809125265|{{"address": "", ...|-87.631906508|   3|     1175476|     1873816|
|                         14|                      21572|                         36|                         36|                         30|                         28| 5002|               STREET|       OTHER OFFENSE|  OTHER VEHICLE OFF...|     N|1134|     032XX W POLK ST|JE175520|2021-03-21T05:30:...|       Y|    26|41.870951132|{{"address": "", ...|-87.706979085|  24|     1154845|     1896187|
|                          2|                      21559|                         19|                        436|                         11|                         66| 0460|            APARTMENT|             BATTERY|                SIMPLE|     N| 724|     010XX W 64TH ST|JE174985|2021-03-21T05:30:...|       N|   08B|41.777850177|{{"address": "", ...|-87.650377017|  16|     1170531|     1862379|
|                          6|                      22268|                         35|                        336|                          7|                         62| 0810|               STREET|               THEFT|             OVER $500|     N| 812|     070XX W 64TH ST|JE174964|2021-03-21T05:30:...|       N|    06|41.775619485|{{"address": "", ...|-87.796785523|  23|     1130602|     1861283|
+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+-----+---------------------+--------------------+----------------------+------+----+--------------------+--------+--------------------+--------+------+------------+--------------------+-------------+----+------------+------------+
only showing top 5 rows

<hr>

#### Look at our Schema

Looking at schema allows us to see how our column types are set up.

In [39]:
df.printSchema()

root
 |-- :@computed_region_43wa_7qmu: string (nullable = true)
 |-- :@computed_region_6mkv_f3dw: string (nullable = true)
 |-- :@computed_region_awaf_s7ux: string (nullable = true)
 |-- :@computed_region_bdys_3d7i: string (nullable = true)
 |-- :@computed_region_rpca_8um6: string (nullable = true)
 |-- :@computed_region_vrxf_vc4k: string (nullable = true)
 |-- _iucr: string (nullable = true)
 |-- _location_description: string (nullable = true)
 |-- _primary_decsription: string (nullable = true)
 |-- _secondary_description: string (nullable = true)
 |-- arrest: string (nullable = true)
 |-- beat: string (nullable = true)
 |-- block: string (nullable = true)
 |-- case_: string (nullable = true)
 |-- date_of_occurrence: string (nullable = true)
 |-- domestic: string (nullable = true)
 |-- fbi_cd: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- human_address: string (nullable = true)
 |    |-- latitude: string (nullable = true)
 |    |-- longitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- ward: string (nullable = true)
 |-- x_coordinate: string (nullable = true)
 |-- y_coordinate: string (nullable = true)

As we, our schema isn't in the best condition to use for EDA. 

We want certain attributes to the appropriate data types. 

Let's change that.

In [ ]:
new_schema = tp.StructType([])

#### Exploratory Data Analysis

Goals:
- Dataset overview
    - NA values
    - Dimensions of the data
- Description on columns (Important ones chosen by me)
    - Description
    - Arrest
    - Year
    -

In [6]:
'''
FUNCTION TO FIND NULL/NA VALUES IN DATAFRAME
'''
def null_values(df):
    return df.agg(*[F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns])

df_null = null_values(df)

In [ ]:
'''
FUNCTION TO GET DIMENSIONS OF DATAFRAME
'''
def GET_DIMENSIONS(df):
    return (df.count(), len(df.columns))

# -----
print(f'Number of rows: {GET_DIMENSIONS(df)[0]} \nNumber of columns: {GET_DIMENSIONS(df)[1]}')

In [39]:
sc.stop()