# Loan Prediction

In this analysis we will be doing a loan prediction project using various algorithms to determine which is the best. 

<br>

The goal is to predict which customers have the 'right stuff' to get a loan from a bank. 

<br>

During this process, I will be sure to explain the machine learning algorithms used and provide resources that were used and for an in depth understanding. 


Follow along here:
- [Github](https://github.com/iamAngelSH)
- [Twitter](https://twitter.com/iamAngelSH)

### Import Libraries

<br>

Here will be all the libraries used for this project. 
- Depening on the time you see this, libraries will be added. 
- They will all be kept and organized accordingly here.

In [1]:
'''
Data Visualization and Data Analysis
- Updated on March 1st, 2022
'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Our first order of business is to get the data and assign it to our resepected variables.**

<br>

For this I will be creating a function that will get the data and return the files we need.
- Specifically for this project we will be using two datasets
    - Training data
    - Testing data

In [4]:
'''
Created March 1, 2022
'''

def get_files(url_train, url_test):
    df1 = pd.read_csv(url_train)
    df2 = pd.read_csv(url_test)
    
    
    # RETURN OUR DATA FRAMES 
    return df1, df2


data1 = 'Data/train.csv'
data2 = 'Data/test.csv'

train_df, test_df = get_files(data1, data2)

### Exploratory Data Analysis



<br>

We will be conducting Exploratory Data Analysis to get statistical insight and visualization of our data.

In [5]:
'''
Created March 1, 2022


Lets first look how the first couple columns of our data.

- For this, I only be using one of our data frames (train_df)
'''

def show_dataframe(dataframe):
    return dataframe.head()

show_dataframe(train_df)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y